.App {
  background-color: #f7fafc;
}

.Header {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
}

.Filter {
  max-width: 800px;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}

.Filter input {
  display: block;
  appearance: none;
  background-color: white;
  border-width: 1px;
  padding: 1rem;
  border-color: #cbd5e0;
  outline: 0;
  font-size: 1.5rem;
  border-style: solid;
}

.Filter.not-empty input {
  border-radius: 0.25rem 0.25rem 0 0;
}

.Filter.empty input {
  border-radius: 0.25rem;
}

.List {
  background-color: white;
  border-radius: 0 0 0.25rem 0.25rem;
  border-width: 0 1px 1px;
  border-color: #cbd5e0;
  border-style: solid;
}

.Result {
  padding: 1rem;
  display: flex;
}

.Result-Name {
  color: #2d3748;
  text-decoration: none;
  display: block;
  margin-bottom: 0.3rem;
}

.Result-Email {
  color: #4a5568;
  margin-bottom: 0.4rem;
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: #718096;
}

.Result-Meta {
  font-size: 0.8rem;
  color: #718096;
  margin-bottom: 0.3rem;
}

.Result-Meta span {
  display: inline-block;
  margin-right: 0.5rem;
}

.Result-Skills span {
  display: inline-block;
  margin-right: 0.3rem;
  background-color: #4a5568;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
}
